* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%)
}

form {
  width: 150vmin;
  height: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 40px 0;
}

input[type="text"] {
  width: 50%;
  padding: 15px 10px;
  border: none;
  border-bottom: 1px solid #FBAB7E;
  outline: none;
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 16px;
}

ul {
  list-style: none;
}

li {
  text-transform: capitalize;
  width: 50%;
  background-color: #ffffff;
  padding: 5px;
}

.name {
  padding: 10px 5px;
}

li:hover{
  background-color: #dddddd;
  width: 50%;
}

li:last-of-type {
  border-radius: 0 0 5px 5px;
}